@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #FCE7D2;
}

header {
    display: flex;
    margin-left: 120px;
    gap: 40px;
    background-color: #C0CEAA;
    width: 85%;
    height: 64px;
    border-radius: 16px;
}

header p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    margin-top: 20px;
    text-align: center;
    padding-left: 20px;
    color: #EB5874;
}

main h2 {
    font-family: 'Raleway';
    font-style: bold;
    font-size: 16px;
    background-color: #EB5874;
    border-radius: 16px;
    width: 140px;
    height: 45px;
    display: flex;
    margin-left: 90px;
    margin-top: 150px;
    align-items: center;
    text-align: center;
}

main h1 {
    color: #FD8086;
    font-family: 'Raleway';
    font-style: bold;
    font-size: 48px;
    margin-left: 70px;
    margin-top: 20px;
}

main p {
    color: #FD8086;
    font-family: 'Raleway';
    font-style: bold;
    font-size: 20px;
    margin-left: 70px;
}

main img {
    padding-left: 80px;
    padding-top: 20px;
}

.myImage {
    display: flex;
    margin-left: 600px;
    margin-top: -150px;
    background-color: #FD8086;
    width: 515px;
    height: 510px;
    border-radius: 400px;
}

.myImage img {
    margin-top: 30px;
    margin-left: -25px;
}

.figma {
    background-color: #C0CEAA;
    width: 71px;
    height: 71px;
    border-radius: 400px;
    margin-left: 820px;
    margin-top: -40px;
    position: absolute;
}

.figma img {
    margin-left: -63px;
}

.programmerBorder {
    border: #C0CEAA solid 1px;
    width: 246px;
    height: 200px;
    margin-top: 150px;
    margin-left: 200px;
    border-radius: 16px;
}

.programmer {
    background-color: #C0CEAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    border-radius: 400px;
    margin-top: 30px;
    margin-left: 110px;
}

.programmer img {
    margin-top: -30px;
    margin-left: -110px;
}

.programmer p {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EB5874;
    margin-left: -140px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.programmer h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: -100px;
    color: #EB5874;
}

.works {
    background-color: #C0CEAA;
    border-radius: 16px;
    width: 246px;
    height: 200px;
    margin-left: 550px;
    margin-top: -200px;
}

.works p {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EB5874;
    margin-left: -35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.works h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 45px;
    color: #EB5874;
}

.works img {
    margin-top: 5px;
    margin-left: 10px;
}

.designer {
    background-color: #C0CEAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    border-radius: 400px;
    margin-top: 30px;
    margin-left: 105px;
}

.designer img {
    margin-top: -30px;
    margin-left: -110px;
}

.designer p {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EB5874;
    margin-left: -140px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.designer h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: -50px;
    color: #EB5874;
}

main article {
    border: #C0CEAA solid 1px;
    width: 246px;
    height: 200px;
    margin-top: -200px;
    margin-left: 900px;
    border-radius: 16px;
}

.experience {
    background-color: #C0CEAA;
    width: 948px;
    height: 110px;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 16px;
}

.experience p {
    display: flex;
    justify-content: center;
    padding: 75px;
    margin-top: -40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FD8086;
}

.experienceTwo {
    display: flex;
    margin-top: -60px;
    margin-left: 265px;
    gap: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #EB5874;
}

.worksAndProjects p {
    background-color: #C0CEAA;
    width: 144px;
    height: 45px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 250px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FD8086;
}

.worksAndProjects h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #EB5874;
    margin-left: 50px;
    margin-top: 10px;
}